*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/dictionaries/hcc.xml

.idea/.name

.idea/dictionaries/hcc.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml
